/target
/.classpath
/.project
/.settings/org.eclipse.jdt.core.prefs
/.settings/org.eclipse.m2e.core.prefs
/src/main/resources
/src/main/java/codejam/QR1/cryptoPangrams
/src/main/java/codejam/QR1/ForegoneSolution
/src/test/resources
/src/test/java/codejam/QR1/cryptoPangrams
/src/test/java/codejam/QR1/ForegoneSolution
!.gitignore

